.textField, .passField, .emailField {
    width: 25%; /* Ширина поля */
    padding: 10px; /* Поля */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); /* Тень внутри */
    border: 1px solid #CCC; /* Параметры рамки */
    border-radius: 5px;
    color: #FF6D37; /* Цвет текста */
    font-weight: bold;
    padding-height: 100 px ;
    padding-left: 50px; /* Расстояние от левого края */
}
.textField {
    background: url('../images/user.png') no-repeat left; /* Картинка пользователя */
    background-size: contain;
}
.passField {
    /* Картинка для поля с паролем */
    background: url('../images/lock.png') no-repeat left;
    background-size: contain;
}
.emailField {
    background: url('../images/email.png') no-repeat left;
    background-size: contain;
}

.submitButton {
    width: 25%; /* Ширина поля */
    padding: 10px; /* Поля */
    font-weight: bold;
    border-radius: 5px;
    background: #FF8C00;
}

body {
    margin-top: 20px;
    text-align:center;
}