.textField, .passField, .emailField {
    width: 25%; /* Ширина поля */
    padding: 10px; /* Поля */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); /* Тень внутри */
    border: 1px solid #CCC; /* Параметры рамки */
    border-radius: 5px;
    color: #FF6D37; /* Цвет текста */
    font-weight: bold;
    padding-left: 50px; /* Расстояние от левого края */
}
.textField {
    background: url('../images/user.png') no-repeat left; /* Картинка пользователя */
    background-size: contain;
}
.passField {
    /* Картинка для поля с паролем */
    background: url('../images/lock.png') no-repeat left;
    background-size: contain;
}
.emailField {
    background: url('../images/email.png') no-repeat left;
    background-size: contain;
}

.submitButton {
    width: 25%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: #FF8C00;
}

.submitButtonNewTask {
    width: 80%; /* Ширина поля */
    padding: 10px; /* Поля */
    font-weight: bold;
    border-radius: 5px;
    font-size: medium;
    padding-left: 30px;
    background: #FF8C00;
    background:  url("../images/plus.png") no-repeat left;
    background-size: contain;
}

.editButton{
    background:  url("../images/edit.png") no-repeat left;
    background-size: contain;
}

.layout DIV {position: absolute;}

.leftPart {
    height:100%; width: 20%; background-image: linear-gradient(180deg,  darkorange, yellow);
    top: 0; left: 0;
}

.middlePart {
     height:100%; width: 75%; left:20%; top: 0;
}

.rightPart{
    height:100%; width: 30%; left:80%; top: 0; linear-gradient(180deg,  darkorange, white);
}
.catPic {
    top:25%; left: 50px;
}

.titleField {
    width: 80%; /* Ширина поля */
    padding: 20px; /* Поля */
    box-sizing: border-box;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); /* Тень внутри */
    border: 1px solid #CCC; /* Параметры рамки */
    border-radius: 5px;
    font-weight: bold;
    height: 20px;
}

.descField {
    width: 80%; /* Ширина поля */
    padding: 20px; /* Поля */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); /* Тень внутри */
    border: 1px solid #CCC; /* Параметры рамки */
    border-radius: 5px;
    font-weight: normal;
    padding-height: 100 px ;
    height: 15%;
}

body {
    margin-top: 20px;
    text-align:center;
}

section {position:absolute;bottom: 5%; width: 100%}

table{
    padding-left: 20px;
    font-family: serif;
    width: 100%;
    border-bottom: none;
}

tbody tr:hover {
    background: #f3bd48; /* Цвет фона при наведении */
    border: #f3bd48;
}

td {
    /*width: 25%;*/
    border-bottom: 2px solid darkorange;
    padding: 0 10px;
}

.dropdown{
    display: inline-block;
}

.listButton {
    background: #FF8C00;
    border: 1px solid #CCC;
}

.drop-content{
display: block;
    font-size: 15px;
    background: #f3bd48;
    text-decoration: none;
}